Pandas Data Manipulation: groupby()

In [1]:
import pandas as pd
import numpy as np

In [6]:
# Loading data
performance = pd.read_csv('C:\\Users\\user\\datasets\\StudentsPerformance.csv')
performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [9]:
performance.groupby("gender")["math score"].mean()

gender
female    63.633205
male      68.728216
Name: math score, dtype: float64

In [10]:
performance.groupby("race/ethnicity")["math score"].median()

race/ethnicity
group A    61.0
group B    63.0
group C    65.0
group D    69.0
group E    74.5
Name: math score, dtype: float64